.Jumbotron {
  background-image: linear-gradient(
      to bottom,
      rgba(75, 67, 67, 0.144) 100%,
      rgba(107, 90, 90, 0) 0%
    ),
    url('../../assets/Images/mainBuilding.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0px;
  left: 0px;
  height: 550px;
  text-align: center;
  margin-bottom: 0rem;
  padding-top: 0rem;
}

.text {
  text-align: center;

  width: 100%;
  border-radius: 30px;
  background: rgba(8, 8, 8, 0.349);
  padding: 10px 20px;
  margin-top: 100px;
  box-sizing: border-box;
  color: white;
}

.content {
  text-align: center;
  width: 100%;
  background-color: aliceblue;
  padding: 50px 20px;
  margin: 0px;
}
.subject {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.842);
  line-height: 1.5;
  margin: 10px;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  padding: 20px 0px;
  color: rgb(48, 37, 37);
  font-size: 40px;
  text-shadow: 1px 1px rgb(184, 199, 199);
}

.card {
  width: 33.33%;
  margin: 10px;
  margin-top: 0px;
  box-shadow: 0 0 5px rgba(51, 49, 49, 0.486);
}

.images {
  height: 33%;
}
.section {
  padding-top: 30px;
  text-align: center;
}

.cards {
  display: flex;
  flex-flow: row;
}
.mainHeading {
  font-size: 45px;
  font-weight: bolder;
}
.button {
  position: relative;
  align-self: center;
  width: 120px;
  margin-bottom: 30px;
}
.cardBody {
  margin-bottom: 20px;
}
.cardText {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: rgba(53, 48, 48, 0.712);
}
.cardTitle {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: rgb(121, 0, 0);
}
@media (max-width: 800px) {
  .cards {
    position: relative;
    align-items: center;
    flex-flow: column;
  }
  .text {
    margin-top: 100px;
  }
  .card {
    width: 105%;
    margin-bottom: 20px;
  }
  .mainHeading {
    font-size: 35px;
  }
}
@media (max-width: 499px) {
  .mainHeading {
    font-size: 30px;
  }
  .text {
    margin-top: 50px;
  }
  .subject {
    margin: 5px;
    font-size: 16px;
  }
  .card {
    height: auto;
  }
}
@media (max-width: 320px) {
  .mainHeading {
    font-size: 25px;
  }
}
