.Jumbotron {
  background-image: url('../../assets/Images/mainBuildin.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  text-align: center;
  margin-bottom: 0rem;
}

.text {
  text-align: center;

  width: 100%;
  border-radius: 30px;
  background: rgba(15, 15, 15, 0.575);
  padding: 10px 30px;
  margin-top: 130px;
  box-sizing: border-box;
  color: white;
}

.content {
  text-align: center;
  width: 100%;
  background-color: aliceblue;
  padding: 50px 30px;
  margin: 0px;
}
.body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #151616;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  padding: 20px 0px;
  color: rgb(48, 37, 37);
  font-size: 40px;
  text-shadow: 1px 1px rgb(184, 199, 199);
}

.card {
  width: 22rem;
  margin: 40px 10px;
}

.images {
  height: 33%;
}
.section {
  padding-top: 30px;

  text-align: center;
}

.cards {
  display: flex;
  flex-flow: row;
}
@media (max-width: 500px) {
  .cards {
    position: relative;
    align-items: center;
    flex-flow: column;
  }
  .card {
    width: 23rem;
  }
}
