.SideDrawer {
  position: fixed;
  width: 55%;
  max-width: 290px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: rgb(102, 102, 102);
  padding-top: 32px;
  padding-left: 5px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  display: block;
}
.list {
  margin-top: 30px;
  padding-left: 3px;
}
.tag {
  padding-bottom: 15px;
}
.link {
  color: white;
  /* text-decoration: none; */
  font-size: 17px;
}
.SideDrawer a:link {
  text-decoration: none;
}
.SideDrawer a:visited {
  color: white;
}
.SideDrawer a:active,
.SideDrawer a:hover {
  background-color: rgb(158, 145, 145);
  border-radius: 4px;
  padding: 2px;
}
@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}
@media (max-width: 306px) {
  .SideDrawer {
    width: 60%;
  }
}
.Open {
  transform: translateX(0%);
}

.Close {
  transform: translateX(-100%);
}

.Logo {
  height: 11%;
  margin-bottom: 32px;
  margin-left: 10px;
  width: 100%;
}
